<web-app>
	<servlet>
		<servlet-name>CountrySearch</servlet-name>
		<servlet-class>CountrySearch</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CountrySearch</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>