* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #777;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
body {
  background-color: rgb(31, 31, 31);
}
.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("Images/Header Background.jpg");
  background-blend-mode: multiply;
  background-size: cover;
}

.main-nav li {
  padding: 0 2.5%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.box:hover {
  transform: scale(1.09);
}
.main-header {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("Images/Header Background.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}

.event-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-weight: normal;
  color: white;
}

.event-name-large {
  font-size: 3em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}
.section-header {
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}
.box {
  background-color: white;
  position: relative;
  left: 450px;
  width: 1000px;
  border: 15px;
  padding: 50px;
  margin: 35px;
  margin-top: -40px;
  font-size: 20px;
}

.main-footer {
  background-color: #56ccf2;
  color: white;
  padding: 0.25em 0;
  padding-top: 2em;
  padding-bottom: 2em;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 0.5em;
}

.footer-nav img {
  width: 30px;
  height: 30px;
}
div.container1 {
  background-image: url("Images/Header Background.jpg");
  background-color: #56a7f2;
}
.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em 0.67em;
  cursor: pointer;
}

.btn-header {
  margin: 0.5em 15% 2em 15%;
  color: white;
  border: 2px solid #2d9cdb;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-primary {
  color: white;
  background-color: #56ccf2;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #2d9cdb;
}

.spaced {
  margin-left: 2.5em;
}

.table {
  margin-left: auto;
  margin-right: auto;
  cellspacing: 100;
  background-color: #000000;
  cellpadding: 40px;
}
table,
td,
th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 40px;
}
tr:nth-child(even) {
  background-color: lightskyblue;
}
tr {
  background-color: #ffffff;
}



.box{
  /* background-image: url("Images/Header Background.jpg"); */
}
.container1 {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
} 
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
select,
textarea {
  width: 100%;
   padding: 12px; 
   border: 1px solid #cccc;
  border-radius: 5px;
  margin: 10px; 
}
 fieldset {
  background-color: #ffff;
  border: 1px solid #cccc;
}
.main_heading {
  text-align: center;
}
 input[type="submit"] {
  background-color: #4deea1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius:  4px;
  cursor:pointer;
  width : 100%;
}
input[type="submit"]:hover{
    background-color: #4caf84;
} 

